APP_PORT=8000
DEBUG=True

# --- Seguridad y JWT ---
JWT_SECRET=tu_clave_secreta_super_segura_aqui
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

DATABASE_URL=postgresql://admin:secret123@db:5432/auth_users

# --- Configuración 2FA (Email) ---
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= #CORREO PARA NOTIFICACIONES
SMTP_PASSWORD= #CONTRASEÑA DE GOOGLE